.testimonials {
  background-color: red
}
.name {
  display: flex;
  gap: 20px;
}
.daniel {
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
  
}
.paragraph {
  color: hsl(0, 0%, 81%);
}
/*.graduate{
    color:blue
}*/
.heading {
  color: hsl(0, 0%, 100%);
}
.walters {
  background-color: hsl(217, 19%, 35%);
}
.about-harmon {
   background-color: #fff;
   color:hsl(219, 29%, 14%)
}
.graph {
  color: hsl(217, 19%, 35%);
}

.about-patrick {
  background-color:hsl(219, 29%, 14%);
}
.jonathan {
  background: radius 10px;
}
.verified {
  color: hsl(0, 0%, 81%);
}
.img {
  padding-top: 20px;
  padding-left: 30px;
 
}
#image{
  border-radius: 50%;
  border:2px solid #fff
}
.whittle{
  background-color: hsl(0, 0%, 100%);
}
.head{
  color:hsl(219, 29%, 14%)
}
.about-verified{
  color:hsl(0, 0%, 81%)
}
.about-kira{
  color: hsl(219, 29%, 14%)
}